/* default tags start */
:root {
    --primary: #1f4da3;
    --secondary: #0f6a6a;
    --electricLime: #9be000;
    --neutralAnthrazit: #1d1f23 ;
    --neutralMarine: #0b2a63 ;
    --neutralSlate: #64748b ;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
    background: radial-gradient(circle at top, #1f4da3 0, #0b2a63 55%);
}

body {
    padding: 0 2rem;
}

h1, h2, h3, p {
    color: var(--electricLime);
    padding: 0rem 1rem 1rem;
}

section {
    padding-bottom: 3rem;
}

img {
    width: 100%;

    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
}

button {
    width: 200px;
    height: 50px;
    background: #9be000;

    border-style: hidden;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;

    padding: 1rem;
}

button:hover {
    background: radial-gradient(circle at bottom right, #0f6a6a 0, #9be000 80%);
}

/* default tags end */

/* classes start */

/* header */
.header {
    position: fixed;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    width: min(1120px, 100% - 32px);
    z-index: 900;
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-weight: 600;

    background: radial-gradient(circle at top left, #9be000 0, #d1ea6c 80%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);

    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;

    padding: 1rem;
}

.header img {
    width: 12px;
}

/* container */
.container {
    display: flex;
    flex-wrap: wrap;

    min-height: 100vh;

    align-items: center;
    justify-content: center;
}

.container .card-container {
    align-items: stretch;

    min-height: auto;

    padding-top: 3rem;
}

@media screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        flex:100%;
    }
}

/* image container with text*/
.image-container {
    display: flex;

    justify-content: center;
    align-items: center;

    padding-top: 7rem;
}

@media screen and (max-width: 600px) {
    .image-container {
        display: flex;
        flex-wrap: wrap;
    }

    .image-container div {
        flex: 100%;
    }
}

.text-companyName {
    text-align: left;
}

@media screen and (max-width: 600px) {
    .text-companyName {
        flex: 100%;
    }
}

.text-companyName h2 span {
    background: linear-gradient(120deg, #9be000, #d1ea6c);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.text-companyName p {
    font-weight: 500;
    color: white;
}

.image-container div {
    width: 50%;
}

/* card container */
.card-container {
    display: flex;
    flex-wrap: wrap;

    min-height: 100vh;

    align-items: center;
    justify-content: center;
}

/*Cards*/
.card {
    display: grid;
    grid-template-rows: 2fr;

    min-width: 33vh;
    max-width: 37vh;
    min-height: 34vh;

    background: radial-gradient(circle at bottom right, #0b2a63 0, #1f4da3 55%);

    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;

    text-align: center;

    margin: 1rem;
}

@media screen and (max-width: 600px) {
    .card {
        width: 100%;
    }
}

.card-count {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--electricLime);
    font-size: 4rem;

    padding: 1rem;
}

.card-picture img {
    width: fit-content;

    border-radius: 0rem;
    -webkit-border-radius: 0rem;
    -moz-border-radius: 0rem;
    -ms-border-radius: 0rem;
    -o-border-radius: 0rem;

    padding: 1rem;
}

.card-highlightText {
    font-size: 2em;

    border-top: solid;
    color: var(--electricLime);

    padding: 1rem;
}

.card-highlightText p span {
    font-size: 0.75em;
}

.card-product {
    display: flex;

    align-items: center;
    justify-content: center;

    padding: 1rem;
}

.text-companyName {
    width: 50%;
}

/*History*/

.history-container ul li {
    list-style: none;
    position: relative;

    width: 2px;

    background: var(--electricLime);

    margin: 0 auto;
    padding-bottom: 50px;
}

@media (max-width: 971px) {
    .history-container ul li {
        list-style: none;
        position: relative;

        width: 2px;
        margin: 0;
        padding-bottom: 50px;

        background: var(--electricLime);
    }
}

/*Dots*/
.history-container ul li::before {
    position: absolute;
    content: "";

    width: 20px;
    height: 20px;

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    background-color: var(--electricLime);
    left: -0.5rem;
}

/*Box*/
.history-container ul li:nth-child(odd) div {
    left: -29rem;
}

@media (max-width: 971px) {
    .history-container ul li:nth-child(odd) div {
        left: 2rem;
    }
}

.history-container ul li div {
    position: relative;

    bottom: 0;
    width: 25rem;

    background: radial-gradient(circle at bottom right, #9be000 0, #d1ea6c 53%);
    left: 2rem;

    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;

    padding: 1rem;
}

@media (max-width: 971px) {
    .history-container ul li div {
        position: relative;
        bottom: 0;
        padding: 1rem;
        left: 2rem;
    }
}

.history-container ul li div h3 {
    color: var(--neutralMarine);
}

.history-container ul li div p {
    color: var(--neutralMarine);
}

/* classes end */

/* Animation */

.reveal-from-left {
    opacity: 0;
    transform: translateX(-600px);
    -webkit-transform: translateX(-600px);
    -moz-transform: translateX(-600px);
    -ms-transform: translateX(-600px);
    -o-transform: translateX(-600px);
    transition: opacity 600ms ease-out, transform 600ms ease-out;
    -webkit-transition: opacity 600ms ease-out, transform 600ms ease-out;
    -moz-transition: opacity 600ms ease-out, transform 600ms ease-out;
    -ms-transition: opacity 600ms ease-out, transform 600ms ease-out;
    -o-transition: opacity 600ms ease-out, transform 600ms ease-out;
}

.reveal-from-right {
    opacity: 0;
    transform: translateX(600px);
    -webkit-transform: translateX(600px);
    -moz-transform: translateX(600px);
    -ms-transform: translateX(600px);
    -o-transform: translateX(600px);
    transition: opacity 600ms ease-out, transform 600ms ease-out;
    -webkit-transition: opacity 600ms ease-out, transform 600ms ease-out;
    -moz-transition: opacity 600ms ease-out, transform 600ms ease-out;
    -ms-transition: opacity 600ms ease-out, transform 600ms ease-out;
    -o-transition: opacity 600ms ease-out, transform 600ms ease-out;
}

.reveal-from-left.visible {
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);

    animation-duration: 6000ms;
}

.reveal-from-right.visible {
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);

    animation-duration: 6000ms;
}